<!DOCTYPE html>
<html lang="en">
<head></head>

<body>
    <%= form_for @school_class do |f| %>
        <%= f.text_field :title %>
        <%= f.text_field :room_number %>
        <%= f.submit %>
    <% end %>
</body>

</html>